
h1{
    text-align: center;
}
body{
    background-image: url('../images/idaho.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#game-area{
        position: relative;

}
#foot{
    height: 80px;
    position:absolute;
    top:0;
    left:0;
    
}
img{
    height:80px;
}